* {
  outline: 1px solid black;
  width: fit-content;
  height: fit-content;
}
body {
  background-color: #808080;
  /* animation: bg 10s linear alternate infinite; */
}
@keyframes bg {
  0% {
    background-color: #3f3f3f;
    background-color: #000000;
  }
  100% {
    background-color: #c0c0c0;
    background-color: #ffffff;
  }
}
img {
  display: none;
}
html {
  --max-width: 300px;
  --max-height: 600px;
}
canvas {
  max-width: var(--max-width);
  max-height: var(--max-height);
  image-rendering: pixelated;
}
.v-box {
  display: flex;
}
.h-box {
  display: flex;
  flex-direction: column;
}
#sizeBox {
  position: absolute;
  inset: 0;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  pointer-events: none;
}
